textarea, input{
    font-family:'Ubuntu', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding:10px;
    width: 90%;
}

.form-text{
    width: 100%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

textarea{
    width: 90%;
    padding: 10px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    transition-duration: 0.4s;
    background-color: rgb(250, 206, 125);
    border-radius: 5px;
    margin:auto;
    width: 90%;
    height: auto;
}
button:hover{
    background-color: rgb(243, 181, 66);
    color: white;
}