body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "top-title logo header"
        "main main main"
        "blank another-blank footer";
        grid-gap: 0px;
    
    padding: 0;
    margin-bottom: 0;
}


.logo{
    grid-area:logo;
    padding: 0;
    padding-left: 20px;
    float:left;
    margin-bottom: 0;
}


.top-title {
    grid-area: top-title;
    padding: 0px;
    margin-bottom: 0;
}

.header{
    grid-area: header;
    display: grid;
    width: 100%;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main {
    grid-area: main;
    
}

.footer {
    grid-area: footer;
    text-align: right;
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */
    /* background-color: #ddd; */
}


/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    color:white;
}
p{
   color:white; 
}

/* Responsive image rules */
.responsive {
    width: 100%;
    height: auto;
}

.info-text{

    display: flex;
    flex-direction: column;

}

.text-decoration{
    text-decoration: none;
}

ul.text {
    list-style: disc;
    display: list-item;
    border: none;
    margin-left: 20px;
}

/* Navigation Links */
a:link {color:black;}         /* Unvisited link  */
a:visited {color:black;} /* Visited link    */
a:hover {text-decoration: underline;}   /* Mouse over link */


@media(max-width: 1342px)
{
    .wrapper{
        display:grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "top-title logo header "
            "header header"
            "main main"
            "footer footer";
            grid-gap: 0;
    }

}
















