/* affects bullets points */
ul, .dropdown{
    margin: 0;
    padding: 0;
    list-style: none;


    display: flex;


}

ul li {
    width: 100%;
    position: relative;
    color: white;
}

li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color:white;
}

.dropdown {
    position: absolute;

    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 0.3s;
    left: 0;
    z-index: 1;
    background-color: rgb(220, 220, 243);
}

ul li:hover .dropdown{
    visibility: visible;
}

.menu-header {
    display:block;
    color: white;
}

.menu-footer{
    display: grid;
    width: inherit;
    padding-bottom: 10px;
    margin: 6px 0 10px 0;
}
.fa-bars {
    display: none;
}

@media(max-width: 1342px){

    ul{
        display:table;
        width:100%;
    }

    ul li {
        text-align: left;
    }

    .dropdown {
        position: relative;
        padding-left: 20px;
        width: auto;
        left: 0;
        top: 0;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;

    }

    .display{
        display: block;
        }

    .menu-content {
        display: none;
    }

    .menu-header{
            text-align: right;
            padding: 10px;
            display: block;
        }

        .fa-bars {
            color: white;
            display: inline;
            border: 1px solid white;
            padding: 5px 10px;
            border-radius: 3px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
}